* {
    margin: 0;
    padding: 0;
    font-family:'Indie Flower';
    font-size: 8px;
}
.hj-container {
    display: grid;
    grid-template-columns:20rem 1fr;
    grid-template-rows:5rem 1fr 5rem;
    grid-template-areas:
        'h h h'
        's m m'
        'f f f';
    grid-gap:0px;
    width:100vw;
    height:100vh;
}

.header {
    grid-area: h;
    background-color: #9893a5;
    text-align: right;
}
.top{
    display: flex;
    flex-direction: row;    
}

.main {
    grid-area: m;
    background-color: #9893a5;
    
}

.new-note {
    grid-area: m;
    align-self: center;
    justify-self: center;
    margin-left: -100px;
    margin-top: -100px;
}

.note-list{

    margin: 30px;
}

.hj-menu {
    grid-area: s;
    text-align: center;
    margin-right: 1000px;
    min-height: 90vh;
}      

.hj-menu>button {
    margin-top: 30px;
    margin-bottom: 15px;
    text-decoration: solid;
    margin-left: -150px;

} 

.note-buttons {
    margin-top: 5px;
    margin-right: -20px;
    text-align: right;
}

li.About-header{
    display:inline;
}

.sizes{
    font-size:2rem;
}

.newbutton>button{
    margin-top: 100px;
    margin-left: -20px;
}

a:hover {
    color:#b4637a;
    text-decoration: underline;
}
a:link {
    font-size: 3rem;
    color: #334259;
    list-style-type: none;
    margin-right: 3rem;
    text-decoration: none;
}
a:visited {
    font-size: 3rem;
    color: #334259;
    list-style-type: none;
    margin-right: 3rem;
    text-decoration: none;
}


.nav-bar-side{
    grid-area: s;
    background-color: #f6c177;
    color: #f6c177;
    text-align: center

}
.nav-bar-side>a> button {

    margin-left: 100px;
}


div>button{
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: solid;
    margin-left: 50px;
    margin-right: -300px;
}

li {
    font-size: 2rem;
    color: #575279;
    list-style-type: none;
    margin-right: 3rem;
}



footer {
    grid-area: f;
    background-color: #e0def4;
    font-size: 14px;
    text-align: center;
    padding-top: 14px;
}




@media (max-width: 600px) {
    .new-note {
        display: none;
    }
    .nav-bar-side{
        grid-area: s;
        background-color: #f2e9de;
        color: #f6c177;
    }
    
}